.article-content {
  color: #2f3f5b;
  line-height: 1.6;
  font-size: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

html.dark .article-content {
  color: #CCC;
}

.article-content h1,
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: #2f3f5b;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

html.dark .article-content h1,
html.dark .article-content h1,
html.dark .article-content h2,
html.dark .article-content h3,
html.dark .article-content h4,
html.dark .article-content h5,
html.dark .article-content h6 {
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.article-content h1 {
  font-size: 1.75rem;
  margin: 2.5rem 0 1.8rem;
}

.article-content h2 {
  font-size: 1.5rem;
  margin: 2.2rem 0 1.5rem;
}

.article-content h3 {
  font-size: 1.25rem;
  margin: 1.8rem 0 1.3rem;
}

.article-content h4 {
  font-size: 1rem;
  margin: 1.5rem 0 1rem;
}

.article-content h5 {
  font-size: 0.875rem;
  margin: 1.2rem 0 0.9rem;
}

.article-content h6 {
  font-size: 0.75rem;
  margin: 1rem 0 0.8rem;
}

.article-content p {
  margin: 0.75em 0;
}

.article-content ul,
.article-content ol {
  padding-left: 1.2rem;
  margin: 0.75em 0;
}

.article-content li::marker {
  color: #2f3f5b;
}

html.dark .article-content li::marker {
  color: #00e699;
}

.article-content blockquote {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 6px solid;
  border-image: linear-gradient(to bottom, #00e699, #00e2d8) 1;
  padding-left: 0.8em;
  color: #2f3f5b;
  font-style: italic;
  margin: 1em 0;
  border-radius: 8px;
}

html.dark .article-content blockquote {
  background-color: rgba(245, 245, 245, 0.1);
  color: #aaa;
}

.article-content hr {
  border: none;
  height: 2px;
  margin: 1.5rem 0;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}

html.dark .article-content hr {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1px;
}

.article-content img {
  border-radius: 12px;
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.article-content strong {
  font-weight: bold;
  background: linear-gradient(to right, #00e69930, #00e2d830);
}

html.dark .article-content strong {
  background: linear-gradient(to right, #00e699, #00e2d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.article-content a:not(:has(img)) {
  color: #2f3f5b;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.article-content a:not(:has(img))::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #2f3f5b;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.article-content a:not(:has(img)):hover::after {
  opacity: 0;
}

.article-content a:not(:has(img))::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, #00e699, #00e2d8);
  border-radius: 2px;
  transition: width 0.4s ease;
  pointer-events: none;
}

.article-content a:not(:has(img)):hover::before {
  width: 100%;
}

html.dark .article-content a:not(:has(img)) {
  background: linear-gradient(to right, #00e699, #00e2d8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

html.dark .article-content a:not(:has(img))::after {
  display: none;
}

html.dark .article-content a:not(:has(img))::before {
  background: linear-gradient(to right, #00e699, #00e2d8);
}

.article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;

  color: #333;
  background-color: #fff;
  border: none;
}

.article-content thead {
  background-color: #f0f0f0;
  color: #222;
}

.article-content th,
.article-content td {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: left;
  background: none;
}

.article-content th:last-child,
.article-content td:last-child {
  border-right: none;
}

.article-content tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.article-content tbody tr:nth-child(odd) {
  background-color: #fff;
}

.article-content tbody tr {
  transition: background-color 300ms ease;
}

.article-content tbody tr:hover {
  background-color: #c8e6d9;
}

html.dark .article-content table {
  color: #ccc;
  background-color: #1a1a1a;
}

html.dark .article-content thead {
  background-color: #222222;
  color: #fff;
}

html.dark .article-content th,
html.dark .article-content td {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

html.dark .article-content th:last-child,
html.dark .article-content td:last-child {
  border-right: none;
}

html.dark .article-content tbody tr:nth-child(even) {
  background-color: #222;
}

html.dark .article-content tbody tr:nth-child(odd) {
  background-color: #1a1a1a;
}

html.dark .article-content tbody tr {
  transition: background-color 300ms ease;
}

html.dark .article-content tbody tr:hover {
  background-color: #004836;
}

.article-content code:not(pre code) {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 0.2em 0.4em;
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.1);
}

html.dark .article-content code:not(pre code) {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.article-content pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;

  white-space: pre;
}

pre code.hljs {
  overflow-x: hidden !important;
}