* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow: visible;
  scroll-behavior: smooth;
  color-scheme: light dark;
  forced-color-adjust: none;

  /* 保留换行符 */
  white-space: pre-line;

  /* 滚动条样式 */
  scrollbar-color: rgba(60, 60, 67, 0.5) rgba(0, 0, 0, 0);
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

/* 选中文本 */
::selection {
  background-color: #00e69950;
}

::-moz-selection {
  background-color: #ffcc00;
  color: #000000;
}

/* 浮现动画 */
[data-fade] {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
}

.fade-in-start [data-fade] {
  animation: fade-in 0.5s cubic-bezier(0.6, 0, 0.4, 1) forwards;
  visibility: visible;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: none;
  }
}

/* 全局图片加载动画 */
img:not([class*="f-"]):not(.twikoo img) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

img.fade-in-image {
  opacity: 0;
}

img.fade-in-image[style*="opacity: 1"] {
  opacity: 1 !important;
}

/* 图片加载完成后显示 */
img.onload-fade {
  opacity: 1 !important;
}